
/*-----------------------------------------------------------------*/
/*                      GLOBAL STYLES                              */
/*-----------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Khojki:wght@400;600;700&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

body {
  color: #1a1a1a;
  background-color: #5352d4;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Poppins', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding-left: 15px;
}

li {
  padding: 0 0 10px;
}

.btn-default {
  color: #FFF;
  background-color: #5655da;
  border: 0;
  border-radius: 0;
  font-size: 12px;
  font-weight: 300;
  padding: 8px 16px;
border-radius: 3px;
  position: relative;
}



.btn-default:hover {
  color: #FFF;
  background-color: #5655da;
  border: 0;
}

/*
/*-----------------------------------------------------------------*/
/*                      LAYOUT                                     */
/*-----------------------------------------------------------------*/
.wrapper {
  width: 1000px;
  margin: 0 auto;
}

@media only screen and (max-width: 991px) {
  .wrapper {
      width: 100%;
  }
}


@media only screen and (max-width: 767px) {
  .welcome {
      padding: 60px !important;
  }

  .welcome .quote {
      width: initial;
  }

  .facts .fact-item {
      margin-bottom: 20px;
  }

  .resume .resume-item {
      margin-top: 30px !important;
  }

  .blog .item .text {
      margin-top: 25px;
  }
}

@media only screen and (max-width: 480px) {
  .main-content section {
      padding: 60px 30px;
  }
}

@media only screen and (max-height: 600px) {
  .header .name {
      margin: 15px 0;
  }

  .header .main-nav ul li {
      padding-bottom: 10px;
  }

  .header .social-icons {
      margin: 0 0 15px;
  }

  .header .copyright {
      bottom: -18px;
      position: relative;
  }
}